.footer {
  width: 100%;
  padding: 20px;
  font-size: 12px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 6px;
  color: #003580;
  cursor: pointer;
  font-size: 14px;
}
.fListItem:hover {
  font-weight: 400;
  text-decoration: underline;
}
